<!DOCTYPE html>
<html lang="en">

<head>
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>
<body>
<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="4000" >
<!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
       <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
   </ol>
<!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">

<!-- Third Slide -->
       <div class="item active">
<!-- Slide Background -->
           <img src="https://ooo.0o0.ooo/2017/05/01/5907099de8f2e.png" alt="Bootstrap Touch Slider"  class="slide-image"/>
             <div class="bs-slider-overlay"></div>

              <div class="container">
                <div class="row">
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_left">
                       <h1 style="color:#FAFAFA" data-animation="animated zoomInRight">领航</h1>
                       <p style="color:#FAFAFA" data-animation="animated fadeInLeft">引领你的职场航向，照亮你前方的路。</p>

                       <%= link_to("发布工作", new_job_path,  class:"btn btn-default animated fadeInUp") %>
                       <%= link_to("应聘工作", jobs_path, class:"btn btn-primary animated fadeInDown") %>
                   </div>
               </div>
             </div>
       </div>
       <!-- End of Slide -->

       <!-- Second Slide -->
       <div class="item">
         <!-- Slide Background -->
           <img src="https://ooo.0o0.ooo/2017/05/01/59075583e740f.png" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
             <!-- Slide Text Layer -->
             <div class="slide-text slide_style_center">
                <h1 style="color:#212121" data-animation="animated flipInX">领航</h1>
                <p style="color:#212121" data-animation="animated lightSpeedIn">最好的职位给最好的你，是金子就让你发光</p>
                <p style="color:#212121" data-animation="animated lightSpeedIn">用你的慧眼找到人生最佳航向</p>
                <%= link_to("发布工作", new_job_path,  class:"btn btn-default animated fadeInUp") %>
                <%= link_to("应聘工作", jobs_path, class:"btn btn-primary animated fadeInDown") %>
             </div>
       </div>
       <!-- End of Slide -->

       <!-- Third Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="https://ooo.0o0.ooo/2017/05/03/590932795f8cf.png" alt="Bootstrap Touch Slider"  class="slide-image"/>
             <div class="bs-slider-overlay"></div>
             <!-- Slide Text Layer -->
               <div class="slide-text slide_style_right">
                 <h1 style="color:#0D47A1" data-animation="animated zoomInLeft">领航</h1>
                 <p style="color:#0D47A1" data-animation="animated fadeInRight">专业的职场招聘指导，打造全方位出色的你。</p>
                 <%= link_to("发布工作", new_job_path, class:"btn btn-default animated fadeInLeft") %>
                 <%= link_to("应聘工作", jobs_path, class:"btn btn-primary animated fadeInRight") %>
               </div>
             </div>
       <!-- End of Slide -->
   </div><!-- End of Wrapper For Slides -->

   <!-- Left Control -->
   <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
       <span class="fa fa-angle-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>

   <!-- Right Control -->
   <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
       <span class="fa fa-angle-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>

</div> <!-- End  bootstrap-touch-slider Slider -->

  <!--3-->
 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">专业简历模板，轻松获得面试</h2>
         <p class="lead"><a target="_blank" href="http://www.jianliheike.com/">简历黑客</a>全方位打造出色的你</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">履历与面试</h2>
         <p class="lead">大神的经验帮你搞定:</p>
         <ul>
           <li>
             <a target="_blank" href="http://blog.niclin.tw/posts/1421122" class="lead">你应该认真写的那一份简历(1)</a>
           </li>
           <li>
             <a target="_blank" href="http://blog.niclin.tw/posts/1424420" class="lead">你应该认真写的那一份简历(2)</a>
           </li>
           <li>
             <a target="_blank" href="http://blog.niclin.tw/posts/1461624-you-should-write-a-resume-interview-tips-to-master-3" class="lead">你应该认真写的那一份简历(3)</a>
           </li>
         </ul>

       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">优势分析</h2>
         <p class="lead">找到自己的优势，让你在职场中更胜一筹</p>
         <p class="lead"><a target="_blank" href="http://www.apesk.com/Advantage-detecting/index_hr.asp?hr_email=18670054561">盖洛普优势识别器</a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 4000 //changes the speed
    })

    $('#bootstrap-touch-slider').bsTouchSlider();

    </script>

   <script>
    $(document).ready(function () {
    $('.material-button-toggle').click(function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
     });
    });
   </script>

 </body>
</html>
